* {
  font-family: Arial, sans-serif;
  font-weight: bold;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

[data-phx-main] {
  height: 100vh;
  width: 100%;
}

#container {
  user-select: none;
  height: 100vh;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.cell {
  font-size: 5vmin;
  align-self: stretch;
  justify-self: stretch;
  padding: 8px;
  text-align: center;

  &.won-x {
    background-color: #dadaff;
  }

  &.won-o {
    background-color: #ffbaba;
  }

  &.tied {
    background-color: #c7c7c7;
  }
}

.cell-text {
  vertical-align: sub;
}

.X {
  color: blue;
}

.O {
  color: red;
}

.inner {
  &:not(.taken):not(.invalid) {
    background-color: rgba(0, 255, 0, 0.08);

    &:hover {
      cursor: pointer;
      background-color: rgba(0, 255, 0, 0.15);
    }
  }
}

.bb {
  border-bottom: 1px solid black;
}
.bt {
  border-top: 1px solid black;
}
.bl {
  border-left: 1px solid black;
}
.br {
  border-right: 1px solid black;
}
.blight > * {
  border-color: #999;
}
